footer, nav ul {
	/* Animations for the navigation bar. */
	transition: color 1s, background-color 1s, border-color 0.5s;
	transition-timing-function: ease-in-out;
}

nav ul li {
	/* For navigation items. */
	transition: inherit;
	transition-timing-function: inherit;
}

/* https://docs.fontawesome.com/web/style/animate */
