:root {
	--primary-colour: var(--purple-primary-colour);
	--secondary-colour: var(--purple-secondary-colour);
	--purple-primary-colour: #3c0096;
	--purple-secondary-colour: #ceaffc;
	--blue-primary-colour: #113a54;
	--blue-secondary-colour: #b5d8f0;
	--red-primary-colour: #6e273f;
	--red-secondary-colour: #ff9aa6;
	--orange-primary-colour: #783e14;
	--orange-secondary-colour: #ffd8a9;
	--green-primary-colour: #2a5031;
	--green-secondary-colour: #c4e3cf;
	--grey-primary-colour: #37353e;
	--grey-secondary-colour: #dedede;
}
