# Exclude cache folders.
node_modules/
experiments/
# Avoid publishing branch worktree for gh-pages.
dist/
# Ignore hidden files.
.*
# Include configuration entries.
!/.gitignore
!/.editorconfig
!/.env
