@view-transition {
	navigation: auto;
}

@keyframes move-out {
	from {
		transform: translateX(0%);
		opacity: 1;
	}

	to {
		transform: translateX(-100%);
		opacity: 0;
	}
}

@keyframes move-in {
	from {
		transform: translateX(100%);
		opacity: 0;
	}

	to {
		transform: translateX(0%);
		opacity: 1;
	}
}

/* Apply the custom animation to the old and new page states. */
::view-transition-old(root) {
	animation: 0.3s ease-in-out both move-out;
}

::view-transition-new(root) {
	animation: 0.3s ease-in-out both move-in;
}
