main {
	width: 100%;
	display: grid;
	place-items: center;
}

main > svg {
	width: 50%;
	grid-column: 1;
	min-width: 500px;
	max-width: 75vh;
	aspect-ratio: 1/1;
	border: 2px solid grey;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

main > svg:not(:first-child) {
	display: none; /* Initial state. */
}

#control > button {
	/* Reset style. */
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#control > input {
	padding: 10px;
	border-radius: 10px;
	border-width: 0;
	font-size: 1em;
}

#control > button:not(:last-child) {
	/* Some spacing. */
	padding: 10px 20px;
}

#control > button:last-child {
	/* Left spacing. */
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

#control > button:disabled {
	cursor: default;
	color: #a9a9a9;
}

#control > button:not(:disabled):hover {
	font-family: "ComicNeue-Bold";
}

#control > label > button {
	/* Reset style and override cursor. */
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	outline: inherit;
	cursor: default;
}

#control > input::-webkit-outer-spin-button,
#control > input::-webkit-inner-spin-button {
	margin: 0;
	appearance: none;
	-webkit-appearance: none;
	text-align: center;
}

#control > input[type="number"] {
	appearance: textfield;
	-moz-appearance: textfield;
	text-align: center;
}

#control > input:invalid {
	color: red;
}

main > article {
	margin-top: 10%;
	grid-column: 1;
	display: grid;
	place-items: center;
	text-align: center;
	width: 75%;
	line-height: 1.5;
}

main > article > img {
	width: 25%;
}

main > article > h3 {
	font-family: "ComicNeue-Bold", sans-serif;
	margin: 0;
	margin-top: 4%;
	margin-bottom: 2%;
}
main > article > p {
	margin: 0;
	margin-bottom: 2%;
}
