main {
	width: 100%;
	display: grid;
	place-items: center;
}

main > svg {
	width: 50%;
	grid-column: 1 / span 3;
	min-width: 500px;
	max-width: 1000px;
	aspect-ratio: 1/1;
	border: 2px solid grey;
	margin-top: 2%;
	margin-bottom: 2%;
}

#control {
	grid-column-start: 2;
}

#control > button {
	/* Reset style. */
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	/* Some spacing. */
	padding: 10px 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	margin: 0;
	appearance: none;
	-webkit-appearance: none;
	text-align: center;
}

input[type="number"] {
	appearance: textfield;
	-moz-appearance: textfield;
	text-align: center;
}
