main {
	width: 100%;
	display: grid;
	place-items: center;
}

main > svg {
	width: 50%;
	min-width: 500px;
	max-width: 1000px;
	aspect-ratio: 1/1;
	border: 2px solid grey;
	margin-top: 2%;
	margin-bottom: 2%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	margin: 0;
	appearance: none;
	-webkit-appearance: none;
}

input[type="number"] {
	appearance: textfield;
	-moz-appearance: textfield;
}
