header {
	margin-top: 2%;
	height: 10%;
	min-height: 100px;
	max-height: 200px;
	width: 100%;
	display: flex;
}

nav {
	width: inherit;
	display: inherit;
	user-select: none; /* Disable text selection. */
}

nav ul {
	gap: 5px;
	width: inherit;
	display: inherit;
	justify-content: center;
}

nav ul li {
	display: inherit;
	border-radius: 3px;
	width: 5%;
	max-height: 100%;
	max-width: 32px;
	min-width: 24px;
}

nav ul li a {
	display: inherit;
	width: 100%;
	align-items: stretch; /* Expand to container size. */
	border-left: 4px solid rgb(60, 60, 60, 0.4); /* Shadow effect. */
	align-items: center;
	justify-content: center;
	color: #fae3af; /* Font only. */
}

nav ul li:nth-child(1) {
	background: var(--book-tan);
}

nav ul li:nth-child(2) {
	background: var(--book-tan);
}

nav ul li:nth-child(3) {
	background: var(--book-salmon);
}

nav ul li:nth-child(4) {
	background: var(--book-salmon);
}

nav ul li:nth-child(5) {
	background: var(--book-salmon);
}

nav ul li:nth-child(6) {
	background: var(--book-grey);
}

nav ul li:nth-child(7) {
	background: var(--book-grey);
}

nav ul li:nth-child(8) {
	background: var(--book-grey);
}
