header {
	margin-top: 2%;
	height: 10%;
	min-height: 50px;
	max-height: 200px;
	width: 100%;
	display: flex;
	justify-content: center;
}

nav {
	width: inherit;
	display: inherit;
	user-select: none; /* Disable text selection. */
}

nav ul {
	gap: 5px;
	width: inherit;
	display: inherit;
	justify-content: center;
}

nav ul li {
	display: inherit;
	border-radius: 3px;
	width: 5%;
	max-height: 100%;
	max-width: 40px;
}

nav ul li a {
	display: inherit;
	align-items: stretch; /* Expand to container size. */
}

nav ul li:nth-child(1) {
	background-color: #a52a2a;
}

nav ul li:nth-child(2) {
	background-color: #8b4513;
}

nav ul li:nth-child(3) {
	background-color: #556b2f;
}

nav ul li:nth-child(4) {
	background-color: #194570;
}

nav ul li:nth-child(5) {
	background-color: #a52a2a;
}

nav ul li:nth-child(6) {
	background-color: #556b2f;
}

nav ul li:nth-child(7) {
	background-color: #8b4513;
}

nav ul li:nth-child(8) {
	background-color: #194570;
}
