html {
	/* Set sans-serif font style. */
	font-family: sans-serif;
	width: 100%;
	height: 100%;
}

body {
	margin: 0; /* Body margin prevents setting 100% width. */
	width: inherit;
	height: inherit;
}

nav ul {
	/* Reset list style in navigation bar. */
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav ul li a {
	/* Remove browser default colour for new links in the navigation bar. */
	color: inherit;
	text-decoration: none;
}

nav ul li a:visited {
	/* Remove browser default colour for visted links in the navigation bar. */
	color: inherit;
}

/* Hide from regular view, but not from screen reader users. */
/* https://accessibility.huit.harvard.edu/technique-accessible-current-page-indication */
.vh {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
