@media screen and (max-width: 500px) {
	svg {
		min-width: 90% !important;
	}
}

@media screen and (max-width: 256px) {
	nav ul li {
		min-width: 10% !important;
	}
	header {
		min-width: 2% !important;
	}
	svg {
		min-width: 95% !important;
	}
}
