@media screen and (max-width: 500px) {
	main > svg {
		min-width: 90% !important;
	}
	html {
		font-size: 1.4em;
	}
	nav ul li {
		min-width: 28px;
	}
}

@media screen and (max-width: 256px) {
	nav ul li {
		min-width: 10% !important;
	}
	header {
		min-width: 2% !important;
	}
	main > svg {
		min-width: 95% !important;
	}
	html {
		font-size: 1em !important;
	}
}
