@media screen and (max-width: 500px) {
	main > svg {
		min-width: 90% !important;
	}
	nav ul li a {
		border-left: 0.5% solid rgb(60, 60, 60, 0.4) !important; /* Less shadow. */
	}
}

@media screen and (max-width: 256px) {
	nav ul li {
		min-width: 10% !important;
	}
	header {
		min-width: 2% !important;
	}
	main > svg {
		min-width: 95% !important;
	}
	html {
		font-size: 1em !important;
	}
}
